<!-- include header file -->
<%-include('header') -%>
    <form action="/" method="post">
        <h1>
            <%= TITLE %>
        </h1>
    </form>



    <!--Include Footer file -->
    <%-include('footer')-%>